# Dependency directories
node_modules/

# Build outputs
/dist
/build
/out

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editors
/.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# Optional TypeScript cache
*.tsbuildinfo

# Test coverage
/coverage

# Temporary files
.tmp
.temp
