
html {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.extra-glowy-text {
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.2), 0 0 0.4em rgba(255, 255, 255, 0.3);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #e2e8e2;
  position: relative;
  color: #131212;
  border-radius: 10px;
}

.modal-content li {
  @apply my-3 ml-2;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.closing .modal {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.closing .game-container {
  filter: blur(0);
  transition: filter 500ms ease-in-out;
}

html {
  font-size: 18px;
}

@media (max-width: 64rem) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 48rem) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 30rem) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 25rem) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 20rem) {
  html {
    font-size: 12px;
  }
}