@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400;500;600;700;800;900&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Slab', Inter, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 900;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2a2a;
}