@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400;500;600;700;800;900&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Slab', Inter, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 900;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2a2a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}